.logo{
  align-self: center;
  
  width : 100px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  
  
}
.wraper{
  border: 1px blanchedalmond solid;
  background-color: hsl(240, 24%, 44%);
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;

  margin: 10px 05px ;
  padding: 03px;
  border-radius: 05px;
  border: none;


}

body{
  margin: 0;
}
input{
  padding: 05px 10px;
  border-radius: 05px;
  border: none;
}